#chat {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(
    248,
    249,
    250,
    0.5
  ); /* Reduce alpha for less visibility */
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px; /* ou la largeur souhaitée */
  height: 500px; /* ou la hauteur souhaitée */
  overflow-y: auto; /* La barre de défilement verticale apparaîtra si le contenu dépasse la hauteur spécifiée */
  overflow-x: hidden; /* Cela masque la barre de défilement horizontale, même si le contenu dépasse la largeur */
  border: 1px solid #ccc; /* Juste pour visualiser la taille de la div */

}

/* Style for Form component */
form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 12px;
  width: 60%;
  border: 1px solid #ced4da;
  border-radius: 6px;
  outline: none;
}

/* Style for Button component */
.saveButton {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /*font-size: 16px;*/
}

.saveButton:hover {
  background-color: #218838;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}
