.btnSave {
    padding: 12px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btnSave:hover {
    background-color: darkslategray;
    color: #434343;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

