body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Optional: fixed background */
  margin: 0;
  /* Remove default body margin */
  padding: 0;
  /* Remove default body padding */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0000ff;
}

#divHome {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/**********************************Room Page******************************/
#divRoom1 {
  padding: 5px;
  height: 100%;
  width: 25%;
  float: left;
}

#divRoom2 {
  padding: 5px;
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
}

#divRoom3 {
  padding: 5px;
  height: 100%;
  width: 25%;
  float: left;
}

/*************************** Chat **********************/
#chat {
  padding: 5px;
  bottom: 0;
  height: 33%;
  background-color: rgba(240, 235, 235, 0.329);
}

#chat-title {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#message-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: auto;
}

/*******************Todo list**************************/

#divTodo {
  padding: 5px;
  height: 65%;
}

/***************************** Custom *********************************/
#divCustom {
  background-color: white;
  background-color: rgba(184, 8, 8, 0.329);
  height: auto;
}